body {
    background: url("/assets/images/chalkboard--large.jpg") center;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.board {
    background-image: url("/assets/images/board.png");
}
.row {
    display: flex;
    justify-content: space-between;
}
.tile {
    width: 200px;
    height: 200px;
}

.o {
    background-color: red;
}
.x {
    background-color: blue;
}

@media (max-width: 480px) {
    .tile {
        width: 75px;
        height: 75px;
    }
}