body {
    background: url("/assets/images/chalkboard--large.jpg") center;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.board {
    background-image: url("/assets/images/board.png");
    background-size: cover;
}
.row {
    display: flex;
    justify-content: space-between;
}
.tile {
    width: 200px;
    height: 200px;
}

.o {
    background-color: red;
}
.x {
    background-color: blue;
}
#reset {
    margin-top: 30px;
}
@media (max-width: 668px) {
    .board {
        width: 345px;
        height: 345px;
    }
    .tile {
        width: 115px;
        height: 115px;
    }
}