body {
    background: url("/assets/images/chalkboard--large.jpg") center;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*.board {
    background-image: url("/assets/images/board.jpg");
}*/
.row {
    display: flex;
    justify-content: space-between;
}
.row div:first-child, .row div:last-child {
    border-left: none;
    border-right: none;
}
.row:first-child div:first-child, .row:first-child div:last-child {
    border: none;
}
.row:first-child div:nth-child(2), .row:last-child div:nth-child(2) {
    border-top: none;
    border-bottom: none;
} 
.row:last-child div:nth-child(2) {
    border-bottom: none;
}
.row:last-child div:first-child, .row:last-child div:last-child {
    border: none;
}

.tile {
    filter: blur(6px);
    border: solid 20px #f4f4f0;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.o {
    background-color: red;
}
.x {
    background-color: blue;
}

@media (max-width: 480px) {
    .tile {
        width: 75px;
        height: 75px;
    }
}